*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
/*GLAVNE BOJE NA STRANI*/
/*body - #f6e6bb crna- #282828*/
/*PODESAVANJE TEXTA-NA CELOJ STRANI*/
p{
  font-family: 'Amiri', serif !important;
  font-size: 20px;
}
h3{
  font-family: 'Abril Fatface', cursive !important;
  font-size: 25px !important;
}
/*NAV BAR*/
.navbar-nav{
  margin-top:0px;
  align-items: center;
  font-family: 'Amiri', serif !important;
  padding: 0px !important;

}
nav{
  -webkit-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.35);
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.35);
}
nav ul{
  background-color: white!important;
}
.navbar-toggler:focus{
  outline: none;
}

/*SKROLOVANJE*/
.scrolled-nav {
  font-size: 16px;
  background-color: white !important;
  margin-top: 0px;
  height: 60px !important;
}
#global-nav {
  position: fixed;
  top: 0;
  padding: 0;
  z-index: 9999;
  height: 100px;
  width: 100%;
  color: #fff;
  -webkit-transition: height .5s, line-height .5s; /* Safari */
  transition: height .5s, line-height .5s;
}

.counter {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 100px;
  right: 0;
}
#logo{
  height: 50px !important;
  line-height: 60px !important;
}
.nav-item a{
  font-size: 23px !important;
}
.container{
  display: flex;
  flex-direction: column;
}
/*Home page*/
.home{
  height: 60vh !important;
  position: ;
}
.first{
  position: relative;
  margin-top: 15vh;
  float: left;
}
.second{
  position: relative;
  margin-top: 15vh;
  float: right;
}
.text{
  position: absolute;
  display: flex;
  margin-top: 60vh;
  margin-left: 35vw;

}
/*ABOUT US SECTION*/
.aboutUs{
  height: 95vh;
  background: tomato;
  display: flex;
  align-items: center;
  align-content: center;
}
/*DIV SA CAROUSELOM*/
.slajdovi{
  height: 95vh !important;
  background: #282828;
  padding-top: 10vh;
  align-items: center;
}
.carouselbtn{
  margin-top: 3vh;
  margin-left: 45%;
}
/*DIV ZA REYERVACIJU*/
.reservation{
  height: 91vh !important;
  background: tomato;
}
/*JELOVNIK*/
.jelovnik{
  height: 115vh !important;
  background: #282828;
}
/*KONTAKT*/
.contact{
  height: 90vh;
}
/* Vrh button */
#myBtn{
  position: fixed;
  bottom: 20px;
  z-index: 99;
}
/*FOOTER*/
footer{
  background-color: white;
  color: #282828;
  -webkit-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.85);
  -moz-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.85);
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.85);

}
footer a{
  color: #282828;
}
footer a:hover{
  color: tomato;
  font-weight: bold;
  text-decoration: none;
}
.social{
  margin: auto !important;
}
.social a{
  font-size: 30px;
  padding: 10px;

}
