*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
p{
  font-family: 'Amiri', serif !important;
  font-size: 20px;
}
h3{
  font-family: 'Abril Fatface', cursive !important;
  font-size: 25px !important;
}
.navbar-nav{
    margin-top:0px;
    align-items: center;
    font-family: 'Amiri', serif !important;
    font-size: 20px;
    padding: 0px !important;
}
.container{
  display: flex;
  flex-direction: column;
}

/*Home page*/
.home{
  height:100vh !important;
  width: 100vw;
}
.first{
  height: 100vh;
  width: auto;
  margin-top: 18vh;
  float: left;
}
.plate{
  float: right;
  top: 200px;
  position: relative;
}
.wine{
  position: relative;
  float: right;
  top: 230px;

}
.text{
  width: 50vw;
  top: -320px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 200px;
}
.aboutUs{
  top: 200px;
  height: 100vh;
}
.reservation{
  height: 100vh;
  background: skyblue;
}
.jelovnik{
  height: 100vh;
}
.contact{
  height: 100vh;
}
